
<div *ngFor="let m of (matches | async)">
    <div class="container rowForTeam">        
        <div class="card-deck mb-2 text-center colForTeam" style="width:45%;vertical-align: top">
          <div class="card mb-4 box-shadow" style="height: 300px;" >
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Today's Matches</h4>
            </div> 
            <div class="card-body">
                  <div class="card bg-danger" *ngIf="error && m['id'] == matchInAction">
                    <div class="card-body">
                        {{errorMessage}}
                    </div>
                  </div>
                  <div class="container">
                      <div>
                        <div class="rowForTeam">
                            <div class ="colForTeam">
                                <h5>{{m['team1']}}</h5>
                            </div>
                            <div class ="colForTeam">
                              <img class="flags img-thumbnail" src="{{flags[m['team1']]}}">
                            </div>
                            <div class="colForTeam">VS</div>
                            <div class ="colForTeam">
                              <img class="flags img-thumbnail" src="{{flags[m['team2']]}}">
                            </div>
                            <div class ="colForTeam">
                                <h5>{{m['team2']}}</h5>
                            </div>
                        </div>
                      </div> 
                  </div>
                  <form #f="ngForm" (ngSubmit)="submit(f,m)">
                      <div ngModelGroup="match" #contact="ngModelGroup">
                          <div class="form-group">
                              <label for="contactMethod"></label>
                              <select ngModel name="teamSelected" id="teamSelected" class="form-control" required> 
                                <option [ngValue]="m['team1']">{{m['team1']}}</option>
                                <option [ngValue]="m['team2']">{{m['team2']}}</option>          
                              </select>
                            </div>
                            <!-- <p>{{f.value | json}}</p> -->
                            <button class="btn btn-primary" [disabled]="!f.valid" >Place Bet</button>
                      </div>
                  </form>
              </div>
            </div>
          </div>
      </div>
      
</div>

      